<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- On hold card -->
  <app-pickup-call-card status="hold" updatedAt="05/11/2022  12:09" createdAt="04/11/2022" 
    notes="we have two bags that are full, one with plastic and the other with glass"></app-pickup-call-card>

  <!-- processing card -->
  <app-pickup-call-card status="processing" updatedAt="04/11/2022  10:00" createdAt="03/11/2022"
    notes="we have two bags that are full"></app-pickup-call-card>


  <!-- finished card -->
  <app-pickup-call-card status="finished" updatedAt="03/11/2022 18:00" createdAt="02/11/2022" value="Rupees 1000"></app-pickup-call-card>

</ion-content>
