ion-content{
    --background: var(--ion-color-success);
}

ion-card-title{
    font-size: medium;
}

span{
    color: var(--ion-color-success);
    font-size: medium;
}

ion-button{
    margin: 10px;
}