<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/images/map.jpg" />
  <ion-card>
    <ion-card-content>
      <p>Address Line 1: Fake street, line 22</p>
      <p>Address Line 2: Fake state, city</p>
      <p>City: Hyderabad</p>
      <p>State: Telangana</p>
      <p>Zip Code: 500001</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="newPickupCall()">Create pickup call</ion-button>
</ion-content>
